<!-- 
//  -------------------------------------------------------------
//  author        Giga
//  project       qeeqbox/vulnerable-web-app
//  email         gigaqeeq@gmail.com
//  description   app.py (CLI)
//  licensee      AGPL-3.0
//  -------------------------------------------------------------
//  contributors list qeeqbox/vulnerable-web-app/graphs/contributors
//  -------------------------------------------------------------
-->

<form id="icterid-app-login-modal" method="post">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="div-left">Login</div>
      </div>
      <div class="modal-body">
        <input type="text" name="username" placeholder="Enter username" required/>
        <input type="password" name="password" placeholder="Enter password" required/>
        <input type="hidden" name="debug" value="0">
      </div>
      <div class="modal-footer">
        <input type="submit" formaction="/login" id="login" value="Login" />
        <input type="submit" formaction="/register" id="register" value="Register"/>
      </div>
    </div>
  </div>
</form>