<!-- 
//  -------------------------------------------------------------
//  author        Giga
//  project       qeeqbox/vulnerable-web-app
//  email         gigaqeeq@gmail.com
//  description   app.py (CLI)
//  licensee      AGPL-3.0
//  -------------------------------------------------------------
//  contributors list qeeqbox/vulnerable-web-app/graphs/contributors
//  -------------------------------------------------------------
-->

<form id="icterid-app-login-modal" method="post" autocomplete="off">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="div-left">Login</div>
      </div>
      <div class="modal-body">
        <input type="text" name="username" placeholder="Enter username" required/>
        <input type="password" name="password" placeholder="Enter password" required/>
        <input type="text" id="email" name="email" placeholder="Enter email" hidden disabled required/>
        <input type="text" id="captcha" name="captcha" placeholder="Enter captcha" hidden disabled required/>
        <input type="hidden" id="uuid" name="uuid" value="0" disabled>
        <input type="hidden" name="debug" value="0">
      </div>
      <div class="modal-footer">
        <input type="submit" id="login" formaction="/login" value="Login" />
        <input type="submit" id="register" formaction="/register" value="Register"/>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    const login = document.getElementById("login");
    login.formAction += window.location.search;

    $("#register").on("click", function() {
      if ($("#register").val() === "Register") {
        event.preventDefault();
        $.ajax({
            url : "captcha",
            type : "GET",
            dataType: "json",
            success:function(data){
              if (data !== "Error") {
                $("#uuid").val(data.uuid);
                $("#captcha").attr("placeholder", `What is ${data.question}?`);
                $(".div-left").text("Register");
                $("#email").removeAttr("disabled hidden");
                $("#captcha").removeAttr("disabled hidden");
                $("#uuid").removeAttr("disabled");
                $("#register").val("Complete")
                $("#login").remove();
              }
            },
        }); 
      }
    })

  </script>
</form>