<?xml version="1.0" encoding="UTF-8"?>
<config>
    <port>5142</port>
    <ip>0.0.0.0</ip>
    <database-file>database.db</database-file>
    <external-folder>external</external-folder>
    <template-folder>template</template-folder>
    <logs-folder>logs</logs-folder>
    <logs-file>httpd.log</logs-file>
    <config-folder>config</config-folder>
    <config-file>config.xml</config-file>
    <config-style>config.xsl</config-style>
</config>
